.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 400px;
  max-height: 400px;
  overflow-y: justify;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0 40px 0;
}

.modal-button {
  width: 50px;
  float: right;
  position: relative;
  top: -20px;
  background: #68DFF0;
  border: 1px solid #64C3C2;
  border-radius: 3px;
  color: #FFF;
  height: 30px;
  cursor: pointer;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
}

.modal-button:hover {
	background: #64C3C2;
}

.social-avatar img {
	border-radius: 100%;
	cursor: pointer;
}

.social-item {
	display: inline-block;
	border: 1px solid #DCDCDC;
	border-radius: 3px;
	padding: 5px;
	padding-left: 20px;
	width: 50%;
	font-size: 12px;
	box-sizing: border-box;
	vertical-align: top;
}

.social-item .social-avatar {
	width: 50px;
}

.social-content, .social-avatar {
	display: inline-block;
	vertical-align: top;
}

.social-item .social-content {
	width: calc(100% - 60px);
}
.social-item .social-content p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.attention-fans-item {
	display : inline-block;	
}
.attention-fans-item:first-of-type {
	padding-right: 5px;
	border-right: 1px solid #DCDCDC;
}
.attention-fans-item:last-of-type {
	padding-left: 2px;
}
